//$brand-primary: #2680C8;
$brand-primary: #3070A3;
//$brand-primary: #174E7B;


@import "bootswatch-scss/paper/variables"; // paper theme variables
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables"; // bootstrap variables

//$grid-float-breakpoint: $screen-md;

@import "bootstrap-sass-official/assets/stylesheets/bootstrap"; // bootstrap style
@import "bootswatch-scss/paper/bootswatch"; // paper theme style

/*******************************
            Global
*******************************/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

$dark-blue: rgb(52, 57, 71);
$ligher-dark-blue: #475069;
$yellow-light: #FFEEC1;
$yellow-lighter: #FFEEC2;

html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: #EDEDED;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

h1 {
  font-size: 2em;
}
h2 {
  margin: 0; padding: 0;
  font-size: 18px;
  font-weight: bold;
  display: inline;
}
h3 {
  margin: 0px; padding: 0;
  font-size: 17px;
  font-weight: bold;
  display: inline;
}
h4 {
  margin: 0px;
  font-size: 15px;
  font-weight: bold;
  display: inline;
}

/* entire wrapper below menu */
.main-section {
  /* push footer a bit more to the bottom */
  min-height: 85vh;
}

.wrap-text {
  white-space: normal;
}

.section-container {
  margin-top: 5em;
}

.grey {
  color: #666;
}

.sheetmusic-list {
  background-color: white;
}

.no-margin {
  margin: 0;
}
.no-left-padding {
  padding-left: 0;
}
.top-space-1em {
  margin-top: 1em !important;
}
.bottom-space-1em {
  margin-bottom: 1em;
}
.top-space-neg-2em{
  margin-top: -2em;
}
.center-text {
  text-align: center;
}
.small-vertical-padding {
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important;
}
.small-horizontal-padding {
  padding-left: 0.2em !important;
  padding-right: 0.2em !important;
}
/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

footer {
  height : 50px;

  p {
    margin: 15px 0;
  }
}

/* ============ Alerts =============== */

#rootAlertWrapper {
  width: 100%;
  position: fixed;
  z-index: 1500;
  top: 0;
}

// the alert for AlertService
.rootAlert {
  display: block;
  margin: 0 auto;
  margin-top: 0.3em;

  width: 48%;
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: 0.9;

  background-color: #F5DF8A;
  color: rgb(86, 86, 86);
  font-weight: bold;

  -webkit-box-shadow: 3px 3px 4px 0px rgba(81, 81, 81, 0.68);
  -moz-box-shadow:    3px 3px 4px 0px rgba(81, 81, 81, 0.68);
  box-shadow:         3px 3px 4px 0px rgba(81, 81, 81, 0.68);
}

/*******************************
          UI Overrides
*******************************/

h1.ui.header {
  font-size: 3em;
}

h4.ui.header,
h5.ui.header,
.ui.icon.header {
  font-weight: bold !important;
}

.ui.button {
  font-weight: normal;
  text-decoration: none;
}

/* more spacing for list items */
ul.ui.list li, ol.ui.list li, .ui.list .item {
  padding: 0.5em 0em;
}

.image {
    background-size: cover;
    position:relative;
}

/*========== Top Navigation Bar ==========*/

$light-blue-menu: #DDEAF5;
.navbar-inverse {
  background-color: #11202C;

  .navbar-brand {
    color: #EEEEEE !important;
  }
  .navbar-nav > li > a {
    color: $light-blue-menu;
  }
  .btn-link {
    color: $light-blue-menu;
  }
  .nav-username{
    color: $light-blue-menu;
    margin-right:5px !important;
  }
  .btn-link:hover {
    background-color: $navbar-inverse-link-active-bg;
  }
}

/*========== Landing Page =============*/

.full-wrap > .container  {
  margin: 0 auto;
}

.full-wrap {
  background-image: url('../images/piano.jpg');
  min-height: 370px;
  background-size: cover;
}

.headline > h1, .headline > h2 {
  color: ivory;
}

.headline-font {
  color: ivory;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 4em;
}

@media all and (max-width: $screen-xs) {
  .headline-font {
    font-size: 3em;
  }
}

.headline > p {
  margin-top: 1em;
}

.register-form > .panel-body {
  margin-top: 23px;
  background-color: rgba(251, 251, 251, 1);
}

#sheetmusicPageButton {
  z-index: 999;
  right: 0;
  bottom: 0;
}
#sheetmusicPageButton:hover, #sheetmusicPageButton:focus {
  background-color: rgb(240, 240, 240);
  text-decoration: none;
}

.front-page-container {
  h2 {
    font-size: 1.8em;
  }
  p {
    font-size: 1.2em;
  }

  .panel{
    margin-top: 1em;
  }
  .ipad-container {
    margin-top: 1em;
    width: 600px;
    height: 900px;
    background-image: url("../images/ipad-big.png");
    background-size: cover;
    padding: 45px;
  }
  #img_container {
    padding: 0;
    max-width: 580px;
    margin-top: 1em;
  }
  .list-group-item {
    padding: 0;
    border: 0;
  }
}
.promoheader {
  margin-top: 80px;
  padding-bottom:20px;
}

.landing-btn {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  margin-top:5px;
}
.landing-btn.btn-primary {
  background-color: #174E7B;
}
.landing-section-title {
    font-size: 2.5em;
    font-weight: bold; 
    margin-top: 1em;
}
.landing-section-description {
    font-size: 1.5em; 
    line-height: 1.3em;
    font-weight: normal; 
    margin-top: 0.8em;
}

/*========== Sheetmusic Thumbnail =============*/

.sheetmusic-thumbnail-wrap {
  text-align: left;
  padding-left: 0;
}
.sheetmusic-thumbnail {
  width: 330px !important;

  margin-right: 1.5em;
  margin-top: 0.5em;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);

  .text-overlay {
    text-align: left;
    text-decoration: none;

    .sheetmusic-description {
        background-color: #F2F2F2;
        width: 328px;
        padding: 5px;
    }
    .sheetmusic-description-title {
      font-size: 1.1em;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .sheetmusic-description-info {
      color: $gray-darker;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

// no link decoration for description
.sheetmusic-thumbnail:link, .sheetmusic-thumbnail:visited {
    color: $gray-darker;
}
.sheetmusic-thumbnail:hover, .sheetmusic-thumbnail:active {
    text-decoration: none;
}

.sheetmusic-thumbnail:hover {
  border: 1px solid $brand-primary;
}

.sheetmusic-thumbnail-image {
  width: 100%;
  height: 425px;
}

/*========== Browse Sheetmusic (browse.html) =============*/

.browse-section {

  .media-body {
    width: 100%;
  }
  .bordered-list {
    border-bottom: 1px solid rgb(228, 228, 228);
  }
  #browse-search {
    margin-top: 5px;
  }
  #browse-search input {
    border-radius: 40px;
    background: white;
    padding-left: 15px;
    border: none;
    box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.11),inset 0px 0px 0px 1px rgba(0,0,0,0.13);
  }
  #browse-search input:focus {
    background: rgb(244, 244, 244);
  }
  .asc-desc-buttons {
    margin-left: 5px;
  }
  .sort-by-pills .active a,
  .sort-by-pills .active a:hover {
    background-color: $brand-success !important;
  }
  .pagination-wrap {
    text-align: right;
  }
  .view-icon {
    padding: 0.2em;
    .fa {
      padding: 0.1em;
    }
    .fa:hover {
      //background-color: rgba(62, 113, 155, 1);
      color: rgba(177, 177, 177, 1);;
    }
  }

}

// ========== browse.composers.html ========== 


/* ========== Sheetmusic page ==========*/
.sheetmusic-section {
  .list-group-item-text {
    color: rgb(100,100,100);
  }
  .list-item-edit {
    padding-left: 0;
    padding-right: 0;
  }

  .left-scroll-menu {
    position: fixed;
    max-width: 200px;
  }
}

#comments-view {
  min-height: 400px;
  margin-bottom: 50px;

  .img-circle {
    margin-top: 5px;
    background-color: rgb(230, 230, 230);
  }
  .media-list {
    padding-left: 5px;
    padding-bottom:10px;
  }
}

/*========== Forum ==========*/

.forum-section .list-group-item-text {
  color: rgb(100,100,100);
}

/* ========= social images =======*/

.login_box_dimension{
  width:99%;
}

.login_box_dimension:hover{
  opacity:0.7;
  background-color: #BDC0C9;
}

.register_social{
  width:100%;
}

.register_social:hover{
  opacity:0.7;
  background-color: #BDC0C9;
}

.dimension{
  height:70px;
}

.dimension:hover{
  opacity:0.7;
  background-color: #BDC0C9;
}

/* Modal box or Popup box */
.popupContainer{
  width:auto;
  height: auto;
  background: #FFF;
  z-index:9001;
  border-style: solid;
  border: 2px 2px;
  border-color: #DDD;
}

/* Popup Styles*/
.popupHeader  {
    font-size: 16px;
     text-transform:  uppercase;
}

.popupHeader  {
     position: relative;
     padding: 10px 20px;
     border-bottom: 1px solid #DDD;
     font-weight: bold;
}

.popupHeader .modal_close  {
    position:  absolute;
     right:  0;
     top: 0;
     padding: 10px 15px;
     cursor:  pointer;
     color: #aaa;
     font-size: 16px;
}

.popupBody  {
    padding: 15px;
}

/* Social Login Form */

.action_btns  {
    clear: both;
     overflow:  hidden;
}

.action_btns a  {
    display:  block;
}

.one_half  {
    width: 50%;
     display:  block;
     float: left;
}

.one_half.last  {
    width: 45%;
    margin-left: 5%;
}

.divider{
    margin-top:15px;
    margin-bottom:15px;
    border-bottom: 1px solid #DDD;
}

/* ========== modal stuff =======*/

.login-modal-window .modal-dialog {
  margin-top:8%;
  width: 340px;
}

body.modal-open {
  overflow: auto;
}

/* ========== upload sheetmusic form (upload-sheetmusic-modal.html ========== */

.upload-sheetmusic-form {
  .page-header {
      margin-top: 0.3em;
  }
  .remove-button {
      margin-top: 0.3em;
    color: #BD1B39;
  }
  .form-element {
      padding-top: 0.3em;
  }
  .error-block {
      color: #e51c23;
  }
}

// ========== Profile Page (profile.html) ==========

.profile-section {

    textarea {
      color: $gray-lighter;
      width: 100%;
    }

    .edit-photo-icon {
      position: absolute;
      color: rgb(48, 112, 163);
    }
    .fa-user {
      font-size: 8em;
    }
    .container-full {
        min-height: 280px;
        background-color: $dark-blue;
        margin-top:-5em;
        padding-top:4.2em;
    }
    .container {
      margin: 0 auto;
    }
    .profile-header {
      padding-top: 2em;
    }
    .user-description {
      color: rgb(197, 197, 197);
      font-size: 1.3em;
      margin-top: 0.2em;
      line-height: 1.5;
    }
    h1 {
      font-size: 2em;
      margin-top: 0.2em;
    }
    h1, h2 {
      color: $gray-lighter;
    }
    .username {
      margin-top: 1em;
    }

    // navigation menu
    .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
      z-index: 2;
      color: $gray-darker;
      border-color: $gray-lighter;
      background-color: $yellow-lighter;
    }
    .panel-default > .panel-heading {
      background-color: $yellow-light;
    }

    // shelf

    .sheetmusic-description {
      margin-left: 2em;
    }

    .remove-icon {
      padding-top: 5px;
      color: rgb(150, 70, 70);
    }
    .remove-icon:hover {
      color: rgb(190, 110, 110);
    }
    /*
    .edit-icon {
      color: rgb(148, 148, 148);
    }
    .edit-icon:hover {
      color: rgb(70, 70, 70);
    }
    */
}

.upload-profile-picture-form {
  .img-circle {
    background-color: $gray-lighter;
  }
}

// ===== swipable sheetmusic =====

/* swipeview slider */
.comment_header {
  color:grey;
  font-size: 90%;
  font-style: italic;
}
#composer {
  float: right;
}

#swipeview-slider {
  height: auto !important;
}

#swipeview-masterpage-0,
swipeview-masterpage-1,
swipeview-masterpage-2 {
  position: relative !important;
  height: auto !important;
}
#page_number {
  margin-top: -5px;
  margin-bottom: 5px;
}

.flippage {
  text-align: center;
    background-color: #CECECE;
    z-index: 999;
    min-height: 30px;
    opacity:0.4;
}

.flippage:hover {
  opacity:0.7;
  background-color: #BDC0C9;
}

#swipe-tip {
    z-index: 999;
}

#img_container {
  padding: 0;
  max-width: 800px;

  .progress {
    margin-bottom: 0;
  }
}
#img_container img {
  pointer-events: none;
  width: 100%;
}
.img-responsive {
  /*max-width: 100%;*/
  height: auto;
}
#leftbar {
  position: absolute;
}
#rightbar {
  position: absolute;
  right: 0;
  display: block;
}
.comment_header {
  color:grey;
  font-size: 90%;
  font-style: italic;
}
.list-group-video{
  padding-right:0px;
  padding-left:0px;
  overflow-y: scroll;
}
#id_number{
  padding-left: 0px;
  font-size: 15px;
}


.headroom {
    transition: transform 200ms linear;
}

.headroom--pinned{
  transform: translateY(0%);
}

.headroom--unpinned{
  transform: translateY(-100%);
}

hr{
  margin-top:-4px;
  margin-bottom:-4px
}

.vertical-center{
  margin-top:auto;
  margin-bottom:auto;
}

label{
  margin-bottom:0px;
}

.navbar-nav{
  margin-bottom:0px;
}

#video-upload{
  font-size: 25px;
}

.nav-icon{
  height:40px;
  float: left;
  margin-top:-7px;
  margin-right:5px;
}

.center{
  margin-left:auto;
  margin-right:auto;
}

.browse-title{
  font-size:25px;
  font-weight:700;
}

.center-pills { 
  display: inline-block;
}

.comment-delete{
  color: #FF0000;
  margin-top:5px;
}

.icon-bar {
   background-color: ivory !important;
}

.red{
  color: #FF0000;
}

.green{
  color: #00B200;
}

.bottom-space-1em{
  margin-bottom: 1em !important;
}

.form-control{
  box-shadow:none;
}

.media-heading{
  .fa{
    margin-left:2px !important;
    margin-right:2px !important;
  }
}

#piano-video{
  margin-bottom:10px;
}
