<div class="container section-container panel panel-body">
<form class="form" name="loginForm" novalidate ng-submit="login()">
    
    <div class="alert alert-danger" role="alert" ng-show="errorMsg">
        {{ errorMsg }}
    </div>

    <div class="form-group"
         ng-class="{'has-error' : loginForm.email.$invalid && loginForm.email.$dirty, 'has-success' : loginForm.email.$valid && loginForm.email.$dirty }">
        <label for="" class="control-label">Email</label>
        <input type="text" name="email" class="form-control" ng-model="user.email" required cu-focus/>
        <p class="help-block"
                ng-show="loginForm.email.$invalid && loginForm.email.$dirty && !loginForm.email.$focused">
            Invalid email
        </p>
    </div>

    <div class="form-group"
        ng-class="{'has-error' : loginForm.password.$invalid && loginForm.password.$dirty, 'has-success' : loginForm.password.$valid && loginForm.password.$dirty }">
        <label for="" class="control-label">Password</label>
        <input type="password" name="password" class="form-control" ng-model="user.password" required cu-focus/>
        <p class="help-block"
           ng-show="loginForm.password.$invalid && loginForm.password.$dirty && !loginForm.password.$focused">
            Password is required
        </p>
    </div>

    <div class="form-group">
        <!--<button class="btn btn-primary" type="submit" ng-disabled="loginForm.$invalid">Login</button>-->
        <input class="btn btn-primary" type="submit" value="Login"></input>
    </div>
</form> 

<img class = "dimension" ng-click = "facebooklogin()" src= "images/FacebookSignUp.png"></img>
<br>
<br>
<img class = "dimension"  ng-click = "googlelogin()" src= "images/GoogleSignUp.png"></img>
</div>