<div class="popupContainer">
   <header class="popupHeader">
    <span class="header_title">PianoShelf Login</span>
    <span class="modal_close" ng-controller="BodyController" ng-click="closeLoginModal()"><i class="fa fa-times"></i></span>
   </header>
  <section class="popupBody">
      <div class="social_login" ng-controller="LoginCtrl">
        <form class="form" name="loginForm" novalidate ng-submit="login()">
            
            <div class="alert alert-danger" role="alert" ng-show="errorMsg">
                {{ errorMsg }}
            </div>

            <div class="form-group"
                 ng-class="{'has-error' : loginForm.email.$invalid && loginForm.email.$dirty, 'has-success' : loginForm.email.$valid && loginForm.email.$dirty }">
                <label for="" class="control-label">Username</label>
                <input type="text" name="email" class="form-control" ng-model="user.email" required cu-focus/>
                <p class="help-block"
                        ng-show="loginForm.email.$invalid && loginForm.email.$dirty && !loginForm.email.$focused">
                    Invalid email
                </p>
            </div>

            <div class="form-group"
                ng-class="{'has-error' : loginForm.password.$invalid && loginForm.password.$dirty, 'has-success' : loginForm.password.$valid && loginForm.password.$dirty }">
                <label for="" class="control-label">Password</label>
                <input type="password" name="password" class="form-control" ng-model="user.password" required cu-focus/>
                <p class="help-block"
                   ng-show="loginForm.password.$invalid && loginForm.password.$dirty && !loginForm.password.$focused">
                    Password is required
                </p>
            </div>

          <div class="action_btns">
              <input class="btn btn-primary form-group one_half" type="submit" value="Login"></input>
              <a ui-sref="app.register" class="btn btn-primary one_half last" >Sign up</a>
          </div>
        </form>
        <div class="divider"></div>
        <img class = "login_box_dimension" ng-click = "facebooklogin()" src= "images/FacebookSignUp.png"></img> <br><br>
        <!-- <img class = "login_box_dimension" ng-click = "googlelogin()" src= "images/GoogleSignUp.png"></img> <br><br> -->
        <img class = "login_box_dimension" ng-click = "twitterlogin()" src= "images/TwitterSignUp.png"></img>
        
    </div>
    </section>
  </div>
