<div class="container section-container panel panel-body">
<form class="form" name="register.registerForm" novalidate ng-submit="register.register()">
    
    <div class="alert alert-danger" role="alert" ng-show="register.errorMsg">
        {{ register.errorMsg }}
    </div>
    <h1>Sign up</h1>
    <p>Sign up to share, save, and rate sheetmusic!</p>
    <div class="form-group"
         ng-class="{'has-error' : register.registerForm.username.$invalid && register.registerForm.username.$dirty, 'has-success' : register.registerForm.username.$valid && register.registerForm.username.$dirty }">
        <label for="" class="control-label">Username</label>
        <input type="text" name="username" class="form-control" ng-model="register.user.username" required cu-focus/>
        <p class="help-block"
                ng-show="register.registerForm.username.$invalid && register.registerForm.username.$dirty && !register.registerForm.username.$focused">
            Invalid username
        </p>
    </div>

    <div class="form-group"
         ng-class="{'has-error' : register.registerForm.email.$invalid && register.registerForm.email.$dirty, 'has-success' : register.registerForm.email.$valid && register.registerForm.email.$dirty }">
        <label for="" class="control-label">Email</label>
        <input type="text" name="email" class="form-control" ng-model="register.user.email" required cu-focus/>
        <p class="help-block"
                ng-show="register.registerForm.email.$invalid && register.registerForm.email.$dirty && !register.registerForm.email.$focused">
            Invalid email
        </p>
    </div>

    <div class="form-group"
        ng-class="{'has-error' : register.registerForm.password1.$invalid && register.registerForm.password1.$dirty, 'has-success' : register.registerForm.password1.$valid && register.registerForm.password1.$dirty }">
        <label for="" class="control-label">Password</label>
        <input type="password" name="password1" class="form-control" ng-model="register.user.password1" required cu-focus/>
        <p class="help-block"
           ng-show="register.registerForm.password1.$invalid && register.registerForm.password1.$dirty && !register.registerForm.password1.$focused">
            Password is required
        </p>
    </div>

    <div class="form-group"
        ng-class="{'has-error' : register.registerForm.password2.$invalid && register.registerForm.password2.$dirty, 'has-success' : register.registerForm.password2.$valid && register.registerForm.password2.$dirty }">
        <label for="" class="control-label">Confirm Password</label>
        <input type="password" name="password2" class="form-control" ng-model="register.user.password2" required cu-focus/>
        <p class="help-block"
           ng-show="register.registerForm.password2.$invalid && register.registerForm.password2.$dirty && !register.registerForm.password2.$focused">
            Password is required
        </p>
    </div>

    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Register"></input>
    </div>
    <br>

    <div ng-controller="LoginCtrl">
        <div class="row">
            <div class="col-md-3"><img class = "register_social" ng-click = "facebooklogin()" src= "/images/FacebookSignUp.png"></img></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3"><img class = "register_social" ng-click = "twitterlogin()" src= "/images/TwitterSignUp.png"></img></div>
        </div>
    </div>
</form> 
</div>