<div  class="panel panel-default intro">
    <div class="panel-heading">

        <h3>Video Submissions</h3>
        <a ng-click="openUploadVideoModal()" ng-show="ls.isLogged" href="">
          <i id="video-upload" class="fa fa-upload pull-right"></i>
        </a>

    </div>
    <piano-video username="profile.username" sheetmusic="false"></piano-video>
</div>

