
<div class="panel panel-default intro">
    <div class="panel-heading">
        <h3>Comments</h3>
    </div>

    <div class="panel-body">
        <div ng-if="profileComments.comments.length == 0">No comments found.</div>
        <div ng-repeat="comment in profileComments.comments"  class="media">
        <div class="well">
          <div class="media-body">
            <h4 class="media-heading"><a ui-sref="app.sheetmusic({sheetmusicId: comment.sheetmusic, slug: comment.sheetmusic_uniqueurl })">{{ comment.sheetmusic_title }}</a></h4> <small>{{ comment.delta }}</small>
            <br>
            {{ comment.message }}
          </div>
        </div>
        </div>
        
    </div>
</div>
