<div class="panel panel-default intro">
  <div class="panel-heading">
      <h3><span ng-if="profile.username == ls.user.username">My </span>Piano Shelf</h3> <i ng-if="profile.username == ls.user.username" ng-click="profileShelf.switchEditMode()" class="edit-icon fa fa-lg fa-pencil-square" tooltip="Edit shelf"></i>
  </div>

  <div class="panel-body">
    <span ng-if="profileShelf.shelf.length == 0">Shelf is empty. </span>
    <piano-sheetmusic-list sheetmusics="profileShelf.shelf"></piano-sheetmusic-list>
  </div>
</div>


<div class="panel panel-default intro">
    <div class="panel-heading">
      <h3><span ng-if="profile.username == ls.user.username">My </span>Uploads</h3>
    </div>

    <div class="panel-body">
      <piano-upload-list username="profileShelf.profileUsername"></piano-upload-list>
    </div>
</div>
