<!-- Main Section -->

<div class="profile-section section-container">
    <div class="container-full">
        <div ng-cloak class="container row profile-header">
            <div class="userinfo no-left-padding col-sm-3">
                <i ng-if="profile.editMode" ng-click="profile.openProfilePictureModal()" tooltip="Change profile picture" tooltip-placement="right" class="edit-photo-icon fa fa-2x fa-camera"></i>

                <img src="{{ profile.large_profile_picture }}" class="media-object img-circle" width="150" height="150">
                <h1><strong>{{ profile.full_name }}</strong></h1>
                <h2 class="username">{{ profile.username }}</h2>
                
                <p>
                    <button ng-if="profile.username == ls.user.username" ng-click="profile.switchEditMode()" class="btn btn-primary"><i class="fa fa-lg fa-edit"></i> Edit Profile</button>
                </p>
            </div>
            <div class="col-sm-9">
                <img class="img-responsive" src="images/notes.png" style="height: 95px;">

                <span class="user-description" editable-textarea="profile.description" e-rows="3" e-cols="60" e-form="textBtnForm" onaftersave="profile.updateUser()">
                {{ profile.description || "" }}
                </span>
                <button ng-cloak ng-click="textBtnForm.$show()" class="btn btn-link" ng-if="profile.editMode && !textBtnForm.$visible"><i class="edit-icon fa fa-lg fa-pencil"></i> Edit</button>

            </div>
        </div>
    </div>

    <div class="container top-space-1em">
      <div class="row ">
        
        <!-- sidebar -->
        <ul class=" col-sm-3">
            <a ui-sref="app.profile.shelf" ng-class="{ active: $state.is('app.profile.shelf') }" class="list-group-item">
                Sheetmusic <i class="pull-right fa fa-2x fa-angle-double-right"></i>
            </a>
            <a ui-sref="app.profile.comments" ng-class="{ active: $state.is('app.profile.comments') }" class="list-group-item">
                Comments <i class="pull-right fa fa-2x fa-angle-double-right"></i>
            </a>
            <a ui-sref="app.profile.videos" ng-class="{ active: $state.is('app.profile.videos') }" class="list-group-item">
                Videos <i class="pull-right fa fa-2x fa-angle-double-right"></i>
            </a>
        </ul>

        <!-- main area -->
        <div class="col-sm-9">
            <ui-view></ui-view>
        </div><!-- /.col-xs-12 main -->

      </div><!--/.row-->
    </div>
</div>