<!DOCTYPE html>
<html ng-app="clientApp">
  <head>
    <base href="/">
    <meta charset="utf-8">

    <title ng-bind="MetaInformation.title()"></title>
    <meta name="description" content="{{ MetaInformation.metaDescription() }}">
    <meta name="viewport" content="width=device-width">
    <meta name="fragment" content="!">

    <!-- Social -->
    <meta name="google-signin-clientid" content="572386280200-mn44knf4v91up8r4k17nrf93ger56m6u.apps.googleusercontent.com" />
    <meta name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login" />
    <meta name="google-signin-requestvisibleactions" content="http://schema.org/AddAction" />
    <meta name="google-signin-cookiepolicy" content="single_host_origin" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- Angular Bootstrap -->

    <!-- endbuild -->

  <div id="fb-root"></div> <!-- So FB Warning disappears-->
  <body ng-controller="BodyController">
    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <div ng-cloak id="rootAlertWrapper">
      <div ng-repeat="alert in alerts" class="alert rootAlert" ng-class="alert.type">{{alert.msg}}</div>
  </div>

  <nav headroom tolerance="0" offset="0" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <a ui-sref="app.home" class="navbar-brand" ng-click="isCollapsed = true">
          <img class="nav-icon" src="/images/brand/pianoicon.png">
          PianoShelf <span style="font-size:0.7em; color: darkgrey;">Beta</span>
        </a> 

        <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-main" collapse="isCollapsed">

        <!-- Collapsed Nav Bar -->
        <ul ng-cloak ng-show="ls.isLogged" class="nav navbar-nav visible-xs-block">
          <li> <a><label>{{ ls.user.username }}</label></a></li> <!-- a tags for formatting issues-->
          <hr/>
        </ul>

        <!-- Normal/Collapsed Nav Bar -->
        <ul ng-cloak class="nav navbar-nav" ng-click="isCollapsed = true">
          <li ng-class="{ active: $state.is('app.profile') }" >
            <a ng-show="ls.isLogged" ui-sref="app.profile.shelf({username: ls.user.username})">Profile</a>
          </li>
          <li ng-class="{ active: $state.is('app.browse.sheetmusic') }">
            <a ui-sref="app.browse.sheetmusic">Browse</a>
          </li>
        </ul>

        <!-- Normal Nav Bar -->
        <div ng-cloak class="navbar-right hidden-xs">
          <form class="navbar-form navbar-right" ng-hide="ls.isLogged">
              <a ui-sref="app.register" type="submit" class="btn btn-primary btn-link">Register</a>
          </form>
          <form class="navbar-form navbar-right" ng-hide="ls.isLogged">
              <a class="btn btn-primary btn-link" ng-click="openLoginModal()">Login</a>
          </form>

          <!-- Action Options -->
          <div class="navbar-form" role="logout" ng-show="ls.isLogged">
  
              <ul ng-cloak class="nav navbar-nav">
                <li class="small-horizontal-padding">
                  <label class="nav-username">{{ ls.user.username }}</label>
                </li>
              </ul>

              <ul ng-cloak class="btn-group nav navbar-nav small-horizontal-padding" dropdown is-open="status.isopenUpload">
                <li class="btn-default btn-link dropdown-toggle" dropdown-toggle type="button" id="actionDropdown">
                  <i class="fa fa-lg fa-plus"></i>
                  <span class="caret"></span>
                </li>

                <ul class="dropdown-menu" role="menu">
                  <li role="presentation">
                    <a ng-click="openUploadSheemusicModal()" role="menuitem">
                      <i class="fa fa-upload fa-lg"></i> Upload Sheetmusic
                    </a>
                  </li>
                  <li role="presentation">
                    <a ng-click="openUploadVideoModal()" role="menuitem">
                      <i class="fa fa-upload fa-lg"></i> Upload Video
                    </a>
                  </li>
                </ul>
              <ul>
                
              <ul ng-cloak class="nav navbar-nav">
                <li class="small-horizontal-padding btn-default btn-link" tooltip-placement="bottom" tooltip="Sign Out">
                   <i ng-click="logout()" class="fa fa-lg fa-sign-out"></i>
                </li>
              </ul>

            </div>
        </div>

        <!-- Collapsed Nav Bar -->
        <ul ng-cloak class="nav navbar-nav visible-xs-block">
          <hr/>
          <li ng-hide="ls.isLogged">
            <a ng-click="openLoginModal()" href="">Login</a>
          </li>
          <li ng-show="ls.isLogged">
            <a ng-click="logout(); isCollapsed = true;" href="">Logout</a>
          </li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

    <div class="page-container">
    </div>
    <div class="main-section" ui-view></div><!--/.container-->

    <footer>
      <div class="container">
      <p style="text-align: center;">
        <a href="mailto:admin@pianoshelf.com">Contact</a> | <a href="/terms.html" target="_blank">Terms and Privacy</a> | <a href="/copyright.html" target="_blank">Copyright</a>
      </p>
      </div>
    </footer>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- bower:js -->
    <!-- build:js(.) scripts/vendor.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="bower_components/oauth-js/dist/oauth.min.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/headroom.js/dist/headroom.js"></script>
    <script src="bower_components/headroom.js/dist/jQuery.headroom.js"></script>
    <script src="bower_components/headroom.js/dist/angular.headroom.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.js"></script>
    <script src="bower_components/angulartics/src/angulartics.js"></script>
    <script src="bower_components/angulartics/src/angulartics-ga.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <!-- endbower -->
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/swipeview/src/swipeview.js"></script>
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="components/routing-config.js"></script>
        <script src="components/app.module.js"></script>
        <script src="components/app.routes.js"></script>
        <script src="components/login-service.js"></script>

        <!-- Auth -->
        <script src="components/auth/login.js"></script>
        <script src="components/auth/register.js"></script>
        <script src="components/auth/auth.service.js"></script>
        <script src="components/auth/verify-email.js"></script>

        <!-- Sheetmusic -->
        <script src="components/sheetmusic/controllers/sheetmusic.js"></script>
        <script src="components/sheetmusic/controllers/browse.js"></script>
        <script src="components/sheetmusic/controllers/browse.sheetmusic.js"></script>
        <script src="components/sheetmusic/controllers/browse.composers.js"></script>
        <script src="components/sheetmusic/controllers/composer.js"></script>

        <script src="components/sheetmusic/directives/scrollablesheetmusic.directive.js"></script>
        <script src="components/sheetmusic/directives/sheetmusic-list.directive.js"></script>
        <script src="components/sheetmusic/directives/rating.directive.js"></script>
        <script src="components/sheetmusic/directives/sidebar.directive.js"></script>
        <script src="components/sheetmusic/directives/ratingLabel.directive.js"></script>
        <script src="components/sheetmusic/directives/video.directive.js"></script>
        <script src="components/sheetmusic/directives/add-to-shelf-button.directive.js"></script>
        <script src="components/sheetmusic/directives/upload-list.directive.js"></script>

        <script src="components/sheetmusic/services/sheetmusic.service.js"></script>

        <!-- Profile -->
        <script src="components/profile/controllers/profile.js"></script>
        <script src="components/profile/controllers/profile.shelf.js"></script>
        <script src="components/profile/controllers/profile.comments.js"></script>
        <script src="components/profile/controllers/profile.videos.js"></script>
        
        <script src="components/profile/services/shelf.service.js"></script>
        <script src="components/profile/services/profile.service.js"></script>

        <!-- Forum -->
        <script src="components/forum/forum.category.js"></script>
        <script src="components/forum/forum.service.js"></script>
        <script src="components/forum/forum.topiclist.js"></script>

        <!-- Upload -->
        <script src="components/upload/upload-video-modal.js"></script>
        <script src="components/upload/upload-sheetmusic-modal.js"></script>
        <script src="components/upload/upload-profile-picture-modal.js"></script>
        <script src="components/upload/ngModelAsImageUrl.directive.js"></script>
        <script src="components/upload/fileReader.service.js"></script>

        <!-- Search -->
        <script src="components/search/searchresult.js"></script>
        <script src="components/search/typeahead.js"></script>

        <!-- Partials -->
        <script src="components/partials/landing.js"></script>
        <script src="components/partials/body.js"></script>

        <!-- services and directives (for now) -->
        <script src="components/services/alert.service.js"></script>
        <script src="components/services/meta-information.service.js"></script>

        <script src="components/directives/cufocus.directive.js"></script>
        <script src="components/directives/scrollspy.directive.js"></script>
        <!-- endbuild -->

    <script src="//connect.facebook.net/en_US/sdk.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-58120482-1', 'auto');
    </script>
</body>
</html>
