<div class="container section-container forum-section">
<div class="row">

  <!-- main area -->
  <div class="col-sm-12 col-md-12 col-lg-12">

      <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-9">
                    <h2>Forum</h2><br/>
                </div>
            </div>
          </div>

          <div class="panel-body">
              <h3>Categories</h3>
              <div ng-repeat="category in categories"  style="border-style: solid; border-width: medium; padding-left: 10px; margin-top: 10px;" ui-sref="app.forum.topiclist({catId:category.id, catTitle:category.title})">
                  <div><b>{{category.title}}</b></div><div> {{category.description}}</div>
              </div>
          </div>

    </div>
  </div>

</div>
</div>
