<div class="container section-container forum-section">
<div class="row">

  <!-- main area -->
  <div class="col-sm-12 col-md-12 col-lg-12">

      <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-9">
                    <h2>Forum</h2><br/>
                </div>
            </div>
          </div>

          <div class="panel-body">
              <h3>Topics for {{ categoryTitle }}</h3>
          </div>
          <div ng-repeat="topic in topics"  
              style="border-style: solid; border-width: medium; padding-left: 10px; margin-top: 10px;" >
              <div>
                  <b>{{topic.title}}</b></br>
                  Views: {{topic.views}}</br>
                  Replies: {{ topic.posts }}</br>
                  Last Post: {{ topic.lastpost }}
              </div>
          </div>
    </div>
  </div>

</div>
</div>
