<a type="button" id="shelfAction" ng-click="shelfAction()" class="btn wrap-text" ng-class="{'btn-warning' : isInShelf, 'btn-primary' : !isInShelf }" >
	<!--<strong>{{ shelfText }}</strong>-->
	<strong ng-show="isInShelf">Remove From Shelf</strong>
	<strong ng-show="!isInShelf">Add To Shelf</strong>
</a>
