<rating ng-model="rate" max="max" on-hover="hoveringOver(value)" on-leave="hoverOff()" ng-click="ratingSubmit()"></rating>
<br>
<span class="label" ng-class="{'label-success': val<3, 'label-info': val == 3, 'label-warning': val == 4, 'label-danger': val == 5}">{{ratinglabel}}</span>
<br>
{{message}}