<div id="sheetmusic_not_ready" style="display: none" class="panel-body">The sheetmusic is being generated. Please check back later!</div>

<div class="panel-body .container" id="img_container">
    <div id="leftbar" class="flippage col-xs-1" style="position:absolute;">
        <span class="glyphicon glyphicon-chevron-left" style="vertical-align: middle;"></span>
    </div>
    <div ng-show="!ls.isLogged" id="swipe-tip" class="col-xs-8">
        <span class="label label-primary" style="margin-left: 15%;"><span class="glyphicon glyphicon-info-sign"></span> Swipe to flip sheet music pages.</span>
    </div>
    <div id="rightbar" class="flippage col-xs-1 pull-right">
        <span class="glyphicon glyphicon-chevron-right" style="vertical-align: middle;"></span>
    </div>
</div>

<div id="page_number" class="row">
  <span class="col-sm-9"></span>
  <span class="col-sm-3">
      Page <b id="current_page">1</b> of <b id="total_pages"></b>
  </span>
</div>