<ul class="list-group">
  <li class="well list-group-item sheetmusic-list" ng-repeat="sheet in sheetmusics">
    <div class="pull-left ">
      <i ng-show="editMode" ng-click="removeFromShelf(sheet, $index)" class="remove-icon fa fa-2x fa-minus-circle" tooltip="Remove from shelf"></i>
    </div>
    <div class="sheetmusic-description">
      <div ui-sref="app.sheetmusic({sheetmusicId: sheet.id, slug: sheet.uniqueurl})" class="btn btn-primary pull-right">Sheetmusic</div>
      <div class="header"><h4>{{ sheet.title }}</h4></div>
      <div class="description"><b>{{ sheet.style }}</b> by <b>{{ sheet.composer_name }}</b></div>
    </div>
  </li>
</ul>