<div class="left-scroll-menu hidden-xs hidden-sm hidden-md col-lg-2 rightcolumn">
      <ul id="AnchorList" class='nav nav-pills nav-stacked'>
      <li du-scrollspy="sheetmusic-view">
        <a href="#sheetmusic-view" du-smooth-scroll duration="750">
          Sheetmusic
        </a>
      </li>
      <li du-scrollspy="videos-view">
        <a href="#videos-view" du-smooth-scroll duration="750">
          Videos <span class="badge">{{ video_length }}</span>
        </a>
      </li>
      <li du-scrollspy="comments-view">
        <a href="#comments-view"du-smooth-scroll duration="750">
          Comments <span class="badge">{{ comments_length }}</span>
        </a>
      </li>
    </ul>
</div>