<pagination total-items="uploadList.totalItems" class="no-margin" max-size="3" ng-model="uploadList.paginationPage" ng-change="uploadList.updateProfileUploads()"></pagination>

<li class="well list-group-item" ng-repeat="upload in uploadList.uploads">
  <div ng-if="ls.user.username === profileShelf.profileUsername" class="pull-left">
      <div class="btn-group" dropdown>
        <button class="btn btn-default btn-link grey dropdown-toggle small-horizontal-padding" dropdown-toggle type="button">
          <i class="fa fa-lg fa-gear"></i>
        </button>
        <ul class="dropdown-menu" role="menu" >
          <li role="presentation">
            <a ng-click="uploadList.deleteSheetmusic(upload, $index)" class="danger" role="menuitem">
              <i class="fa fa-lg fa-remove"></i> Delete Sheetmusic</a>
          </li>
        </ul>
      </div>
  </div>

  <div class="sheetmusic-description">
    <div ui-sref="app.sheetmusic({sheetmusicId: upload.id, slug: upload.uniqueurl})" class="btn btn-primary pull-right"><span ng-if="ls.user.username === profileShelf.profileUsername">Edit </span>Sheetmusic</div>
    <div class="header"><h4>{{ upload.title }}</h4></div>
    <div class="description"><b>{{ upload.style }}</b> by <b><a ui-sref="app.composer({ composer: upload.composer_name })">{{ upload.composer_name }}</a></b></div>
  </div>
</li>
