  <a class="pull-left" ui-sref="app.profile.shelf({ username: comment.name })">
     <img class="media-object img-circle" src="{{ comment.profile_picture }}" 
     alt="small profile picture" width="40" height="40">
  </a>
  <div class="media-body">
    <div ng-mouseenter="hover = true" ng-mouseleave="hover = false">
      <div class="media-heading">
        <a href="" ng-click="upvoteComment(comment, comment.id)" tooltip-placement="bottom" tooltip="Like"><i class="fa fa-hand-o-up green"></i></a>
        <span class="comment_header"> <a ui-sref="app.profile.shelf({username: comment.name})">{{ comment.name }}</a> {{ comment.delta }} </span>
        <!-- Reply -->
        <a ng-click="collapseResponse = !collapseResponse; commentBody.text=''; $parent.commentBody.text='';" href="" tooltip-placement="bottom" tooltip="Reply">
          <i class="fa fa-reply" ng-show="hover && comment.status != 'deleted'"></i>
        </a>
        <!-- Edit -->
        <a ng-click="collapseEdit = !collapseEdit;" href="" tooltip-placement="bottom" tooltip="Edit">
          <i class="fa fa-edit" ng-show="hover && comment.name == ls.user.username && comment.status != 'deleted'"></i>
        </a>
        <!-- Remove comment -->
        <a ng-click="removeComment(comment.id)" href="" tooltip-placement="bottom" tooltip="Delete">
          <i class="fa fa-times comment-delete" ng-show="hover && comment.name == ls.user.username && comment.status != 'deleted'"></i>
        </a>
        <!-- Restore removed comment -->
        <a ng-click="undoRemoveComment(comment.id)" href="" tooltip-placement="bottom" tooltip="Undo">
          <i class="fa fa-undo comment-undo" ng-show="hover && comment.name == ls.user.username && comment.status == 'deleted'"></i>
        </a>
      </div>
        <div ng-show = "!collapseEdit">
          {{ comment.message }}
        </div>
    </div>

    <!-- Row expand does work well in IE -->
    <div ng-show="collapseEdit">
      <form>
        <textarea
          ng-init="original_text = comment.message"
          ng-model="comment.message"
          rows="2"
          onfocus="this.rows = '3'; this.select();" 
          style="resize:none; width:100%">
        </textarea>
        <div class ="pull-right">
          <a ng-show = "original_text != comment.message" ng-click="editComment(comment.id, comment.message)" href="" tooltip-placement="bottom" tooltip="Submit"><i class="fa fa-check green"></i></a>
          <a ng-click="collapseEdit = false; comment.message = original_text" href="" tooltip-placement="bottom" tooltip="Cancel"><i class="fa fa-times red"></i></a>
        </div>
      </form>
      <br>
    </div>

    <!--
    <div>
      <a ng-click="collapseResponse = !collapseResponse; commentBody.text=''; $parent.commentBody.text='';">Reply</a>
    </div>
    -->

    <div collapse="!collapseResponse">
      <form>
        <textarea 
          ng-attr-id="commentArea" 
          ng-model="comment.body" 
          rows="2"
          onfocus="this.rows = '3';" 
          style="resize:none; width:100%" 
          placeholder="Write a comment">
        </textarea>
        <button type="submit" class="btn btn-primary pull-right"
          ng-click="submitComment($parent.comment.id, comment.body);">Reply</button>
      </form>
      <br>
    </div>

     <!-- Nested media object -->
       <div class="media" ng-repeat="comment in replies = comment.replies | orderBy: sortType: sortSequence" ng-include src="'components/partials/comments.html'" onload="collapseResponse=false; hover=false; collapseEdit=false;">

     </div>

  </div>