
<div class="modal-header">
    <h3 class="modal-title">Confirm delete sheetmusic</h3>
</div>
<div class="modal-body">
    Are you sure you want to delete this sheetmusic?
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="delete()">Delete</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
