
<div class="full-wrap container-full">
    <div class="container row">

        <div class="promoheader headline col-md-12">
            <h1 class="headline-font">Browse, share, and download piano sheet music for free.</h1>
            <button ui-sref="app.browse.sheetmusic" class="btn btn-default landing-btn"><i class="fa fa-lg fa-book"></i> Browse Sheetmusic</button>
            <button ui-sref="app.register" class="btn btn-primary landing-btn"><i class="fa fa-lg fa-user"></i> Register</button>
        </div>

    </div>
</div>


<div class="front-page-container container top-space-1em">

    <div class="container-full row top-space-1em">
        <div class="col-sm-6 row">
            <div class="col-lg-2 col-sm-3 hidden-xs">
                <i class="fa fa-cloud-upload fa-4x"></i>
            </div>
            <div class="col-lg-10 col-sm-9 col-xs-12">
                <h2 class="visible-xs"><i class="fa fa-tablet"></i> Browse and View Anywhere</h2>
                <h2 class="hidden-xs"> Browse and View Anywhere</h2>
                <p>Browse and discover over 1000 piano scores. View directly on your iPad, android tablet, or any mobile device! Alternatively, download and print the PDF file.</p>
            </div>
        </div>
        <div class="col-sm-6" style="padding-left: 0;">
            <div class="col-lg-2 col-sm-2 hidden-xs">
                <i class="fa fa-tablet fa-4x"></i>
            </div>
            <div class="col-lg-10 col-sm-10 col-xs-12">
                <h2 class="visible-xs"><i class="fa fa-cloud-upload"></i> Upload Sheetmusic</h2>
                <h2 class="hidden-xs">Upload Sheetmusic</h2>
                <p>Pianoshelf makes it quick and easy to publish and share your sheetmusic. Sign up to upload sheetmusic within minutes.</p>
            </div>
        </div>
    </div>

    <div class="container-full row top-space-1em">
        <div class="col-sm-6 row">
            <div class="col-lg-2 col-sm-3 hidden-xs">
                <i class="fa fa-floppy-o fa-4x"></i>
            </div>
            <div class="col-lg-10 col-sm-9 col-xs-12">
                <h2 class="visible-xs"><i class="fa fa-floppy-o"></i> Save Your Collection</h2>
                <h2 class="hidden-xs">Save your collection</h2>
                <p>Have a repertoire or favourite sheetmusic? Add a score to your "shelf" to save it for later.</p>
            </div>
        </div>
        <div class="col-sm-6" style="padding-left: 0;">
            <div class="col-lg-2 col-sm-2 hidden-xs">
                <i class="fa fa-share-square fa-4x"></i>
            </div>
            <div class="col-lg-10 col-sm-10 col-xs-12">
                <h2 class="visible-xs"><i class="fa fa-share-square"></i> Share, Rate and Comment</h2>
                <h2 class="hidden-xs">Share, Rate and Comment</h2>
                <p>Pianoshelf makes it easy to comment, rate for difficulty, and add video intepretations to a composition.</p>
            </div>
        </div>
    </div>

    <div class="top-space-1em">
        <h2>Our most downloaded piano sheetmusic</h2>

        <div class="container-full">
            <a class="sheetmusic-thumbnail" ng-repeat="sheetmusic in landing.topSheetmusic" ui-sref="app.sheetmusic({ sheetmusicId: sheetmusic.id, slug: sheetmusic.uniqueurl })" style="display: inline-block;">
                <img class="sheetmusic-thumbnail-image" src="{{ sheetmusic.thumbnail_url }}">
                <div class="text-overlay">
                  <div class="sheetmusic-description">
                    <div class="sheetmusic-description-title">
                      {{ sheetmusic.title }}
                    </div>
                    <div class="sheetmusic-description-composer">{{ sheetmusic.style }} by {{ sheetmusic.composer_name }}</div>
                  </div>
                </div>
            </a>
        </div>
    </div>
</div>
