<!-- Main Section -->
<div class="container section-container browse-section">
  <div class="row row-offcanvas row-offcanvas-left">
    
    <!-- main area -->
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6 browse-title hidden-xs">
         Browse Sheetmusic
        </div>
        <div id="browse-search" class="col-sm-6">
          <input type="text" class="form-control" ng-model="browse.searchText" ng-change="browse.searchTextChanged()" ng-model-options="{debounce:300}" placeholder="Search">
        </div>
      </div>

      <div ng-if="browse.searchText" class="top-space-1em browse-search-results row">
        <!-- free sheetmusic (pianoshelf) -->

        <div ng-show="browse.searchresults.free.length > 0" class="list-group">
        <h2>Pianoshelf</h2>
          <div ng-repeat="sheetmusic in browse.searchresults.free" ui-sref="app.sheetmusic({ sheetmusicId: sheetmusic.id, slug: sheetmusic.uniqueurl })" class="list-group-item">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-8">
              <h4 class="list-group-item-heading"><a ui-sref="app.sheetmusic({ sheetmusicId: sheetmusic.id, slug: sheetmusic.uniqueurl })" >{{ sheetmusic.title }}</a></h4> <br> 
              <b>{{ sheetmusic.style }}</b> by <b>{{ sheetmusic.composer_name }}</b>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 row">
              <div class="col-md-6">
                  <i class="fa fa-download"></i> <strong>{{ sheetmusic.pop }}</strong> Downloads<br>
                  <label>{{ sheetmusic.key }}</label>
              </div>
              <div class="col-md-6">
                <div class="">
                  <rating-label ratingval="sheetmusic.difficulty"></rating-label>
                  <br>
                  <small><a ui-sref="app.composer({ composer : sheetmusic.composer_name })" >View all {{ sheetmusic.composer_name }}</a></small>
                  <!--<div class=""><i class="fa fa-youtube-play"></i> <strong>3</strong> <i class="fa fa-comment-o"></i> 5</div>-->
                </div> 
                
              </div>
            </div>
          </div>
          </div>
        </div>

        <!-- Paid sheetmusic (sheetmusicplus) -->
        <div ng-show="browse.searchresults.paid.length > 0">
        <h2>Other Sources</h2>
          <ul class="media-list">
            <li ng-repeat="sheetmusic in browse.searchresults.paid" class="media">
              <a class="media-left" href="{{ sheetmusic.page_url }}">
                <img src="{{ sheetmusic.thumbnail_url }}">
              </a>
              <div class="media-body">
                <h4 class="media-heading"><a href="{{sheetmusic.page_url}}">{{ sheetmusic.title }}</a></h4>
                <span class="label label-success">{{ sheetmusic.source }}</span>
                <p>
                  <small>{{ sheetmusic.short_description }}</small>
                </p>
              </div>
            </li>
          </ul>
        </div>

      </div>

      <div ng-show="!browse.searchText" class="row">
        <!-- multiple sheetmusic viewing layouts -->
        <div ui-view></div>
        
      </div>
    </div><!-- /.col-xs-12 main -->


  </div><!--/.row-->
</div>
