<!-- Desktop -->
<div class="container browse-subsection top-space-1em hidden-xs">
    <ul class="nav nav-pills sort-by-pills" role="tablist">
      <li role="presentation" ng-class="{'active' : browseSheetmusic.order=='popular'}"><a ui-sref="app.browse.sheetmusic({order : 'popular', page: 1, view : browseSheetmusic.viewType })" class="small-vertical-padding" href="#">Popular</a></li>
      <li role="presentation" ng-class="{'active' : browseSheetmusic.order=='new'}"><a ui-sref="app.browse.sheetmusic({order : 'new', page: 1, view : browseSheetmusic.viewType })" class="small-vertical-padding" href="#">New</a></li>
      <li role="presentation" ng-class="{'active' : browseSheetmusic.order=='trending'}"><a ui-sref="app.browse.sheetmusic({order : 'trending', page: 1, view : browseSheetmusic.viewType })" class="small-vertical-padding" href="#">Trending</a></li>
      <li role="presentation" ng-class="{'active' : browseSheetmusic.order=='difficulty'}"><a ui-sref="app.browse.sheetmusic({order : 'difficulty', page: 1, view : browseSheetmusic.viewType })" class="small-vertical-padding" href="#">Difficulty</a></li>

      <li ng-show="browseSheetmusic.order!='trending'" class="asc-desc-buttons">
        <button type="button" class="btn btn-default btn-sm" ng-click="browseSheetmusic.orderAscending(true)" ng-class="{'active' : browseSheetmusic.ascendingOrder}">ASC</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="browseSheetmusic.orderAscending(false)" ng-class="{'active' : !browseSheetmusic.ascendingOrder}">DESC</button>
      </li>
    </ul>

    <div class="pagination-wrap no-margin row top-space-1em">
      <pagination total-items="browseSheetmusic.totalItems" class="no-margin col-sm-10" max-size="5" boundary-links="true" ng-model="browseSheetmusic.paginationPage" ng-change="browseSheetmusic.pageChanged()"></pagination>
      <div class="view-icon col-sm-1" ng-show="$state.is('app.browse.sheetmusic') && !browseSheetmusic.isListView()"><i ng-click="browseSheetmusic.switchView()" tooltip-placement="bottom" tooltip="List view" class="fa fa-2x fa-list"></i></div>
      <div class="view-icon col-sm-1" ng-show="$state.is('app.browse.sheetmusic') && browseSheetmusic.isListView()"><i ng-click="browseSheetmusic.switchView()" tooltip-placement="bottom" tooltip="Thumbnail View" class="fa fa-2x fa-th"></i></div>
    </div>
</div>

<!-- Mobile -->
<div class="container browse-subsection top-space-1em visible-xs-block">
  <div class="span12 text-center">
      <ul class="nav nav-pills center-pills sort-by-pills" role="tablist">
          <li role="presentation" ng-class="{'active' : browseSheetmusic.order=='popular'}"><a ui-sref="app.browse.sheetmusic({order : 'popular', page: 1, view : browseSheetmusic.viewType })" class="small-vertical-padding" href="#">Popular</a></li>
          <li role="presentation" ng-class="{'active' : browseSheetmusic.order=='new'}"><a ui-sref="app.browse.sheetmusic({order : 'new', page: 1, view : browseSheetmusic.viewType })" class="small-vertical-padding" href="#">New</a></li>
          <li role="presentation" ng-class="{'active' : browseSheetmusic.order=='trending'}"><a ui-sref="app.browse.sheetmusic({order : 'trending', page: 1, view : browseSheetmusic.viewType })" class="small-vertical-padding" href="#">Trending</a></li>
          <li role="presentation" ng-class="{'active' : browseSheetmusic.order=='difficulty'}"><a ui-sref="app.browse.sheetmusic({order : 'difficulty', page: 1, view : browseSheetmusic.viewType })" class="small-vertical-padding" href="#">Difficulty</a></li>
      </ul>
  </div>

  <div class ="row top-space-1em">
    <div class ="col-sm-4">
      <pagination total-items="browseSheetmusic.totalItems" class="no-margin pagination-md" boundary-links="true" max-size="3" ng-model="browseSheetmusic.paginationPage" ng-change="browseSheetmusic.pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        <div class="view-icon pull-right" ng-show="$state.is('app.browse.sheetmusic') && !browseSheetmusic.isListView()"><i ng-click="browseSheetmusic.switchView()" tooltip-placement="bottom" tooltip="List view" class="fa fa-2x fa-list"></i></div>
        <div class="view-icon pull-right" ng-show="$state.is('app.browse.sheetmusic') && browseSheetmusic.isListView()"><i ng-click="browseSheetmusic.switchView()" tooltip-placement="bottom" tooltip="Thumbnail View" class="fa fa-2x fa-th"></i></div>
    </div>
  </div>
</div>

<div ng-if='browseSheetmusic.isListView()' class="container panel-default browse-subsection top-space-1em">
  <div>
    <div class="list-group">
      <div ng-repeat="sheetmusic in browseSheetmusic.sheetmusicResults" class="list-group-item">

        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-8">
            <h4 class="list-group-item-heading"><a ui-sref="app.sheetmusic({ sheetmusicId: sheetmusic.id, slug: sheetmusic.uniqueurl })" >{{ sheetmusic.title }}</a></h4> <br> 
            <b>{{ sheetmusic.style }}</b> by <b>{{ sheetmusic.composer_name }}</b>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-4 row">
            <div class="col-md-6">
                <i class="fa fa-download"></i> <b>{{ sheetmusic.pop }}</b> Downloads<br>
                <label>{{ sheetmusic.key }}</label>
            </div>
            <div class="col-md-6">
              <div class="">
                <rating-label ratingval="sheetmusic.difficulty"></rating-label>
                <br> 
                <small><a ui-sref="app.composer({ composer : sheetmusic.composer_name })" >View all {{ sheetmusic.composer_name }}</a></small>
                <!--<div class=""><i class="fa fa-youtube-play"></i> <strong>3</strong> <i class="fa fa-comment-o"></i> 5</div>-->
              </div> 
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if='!browseSheetmusic.isListView()' class="container">
    <a class="sheetmusic-thumbnail" ng-repeat="sheetmusic in browseSheetmusic.sheetmusicResults" ui-sref="app.sheetmusic({ sheetmusicId: sheetmusic.id, slug: sheetmusic.uniqueurl })" style="display: inline-block;">
      <img class="sheetmusic-thumbnail-image" src="{{ sheetmusic.thumbnail_url }}">
      <div class="text-overlay">
        <div class="sheetmusic-description">
          <div class="sheetmusic-description-title">
            {{ sheetmusic.title }}
          </div>
          <div class="row sheetmusic-description-info">
            <div class="col-sm-6"><b>{{ sheetmusic.composer_name }}</b></div>
            <div class="col-sm-6"><i class="fa fa-download"></i> <b>{{ sheetmusic.pop }}</b> Downloads<br></div>
          </div>
          <div class="row sheetmusic-description-info">
            <div class="col-md-6"><b>{{ sheetmusic.style }}</b></div>
            <div class="col-md-6"><rating-label class="col-sm-6" ratingval="sheetmusic.difficulty"></rating-label></div>
          </div>
        </div>
      </div>
    </a>
</div>

<div class="container">
  <pager total-items="browseSheetmusic.totalItems" ng-model="browseSheetmusic.paginationPage" ng-change="browseSheetmusic.pageChanged()"></pager>
</div>