
<div class="panel panel-default browse-subsection top-space-1em browse-composers">
    <ul class="media-list">
          <li class="media bordered-list panel-body" ng-repeat="composer in browseComposers.composers">

              <a class="media-left">
                 <img ng-src="{{ composer.thumbnail_path }}" width="90" height="90" alt="{{ composer.full_name }}" class="img-circle media-left media-object">
              </a>              

              <div class="media-body">
                <h3 class="media-heading">{{ composer.full_name }}</h3>

                <a ui-sref="app.composer({ composer: composer.full_name})" 
              class="btn btn-default pull-right">Show Compositions</a>    

                <br>
                A Romantic Composer born in Germany in 1885.
              </div>
          </li>
    </ul>
</div>
