<div class="container section-container">
    
<ol class="breadcrumb">
  <li><a ui-sref="app.browse.sheetmusic">Browse</a></li>
  <li class="active">Composers</li>
</ol>

    <div class="panel panel-default sheetmusic">
        <div class="panel-heading">
            <div class="row">
              <div class="col-sm-9">
                <h2>All compositions by <strong>{{ composer.composer }}</strong></h2>
              </div>
              <div class="col-sm-3">
                <h4>({{ composer.compositions.length }} scores)</h4>
              </div>
            </div>
        </div>


        <div class="panel-body table-responsive">

            <table id="piano_compositions" class="table table-striped tablesorter">
                <thead>
                    <th>Title</th>
                    <th>Style</th>
                    <th>Key</th>
                    <th>Date</th>
                    <th>Downloads</th>
                </thead>

                <tbody>
                    <tr ng-repeat="composition in composer.compositions">
                        <td><a ui-sref="app.sheetmusic({ sheetmusicId: composition.id, slug: composition.uniqueurl })">{{ composition.title }}</a><br></td>
                        <td>{{ composition.style }}</td>
                        <td>{{ composition.key }}</td>
                        <td>{{ composition.date }}</td>
                        <td>{{ composition.pop }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>