<!-- Main Section -->
<div class="container section-container sheetmusic-section">
<div class="row">

  <piano-sidebar sheetmusic="sheetmusic"></piano-sidebar>
  <!-- main area -->
  <div id="sheetmusic-view" class="col-sm-12 col-md-9 col-lg-8 col-lg-offset-2">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
              <div class="col-sm-10">
                <h2><span editable-text="sheetmusic.title" e-form="sheetmusicEditForm" e-name="title" buttons="no" e-required>{{ sheetmusic.title }}</span></h2><br/>
              </div>
            </div>
        </div>

          <scrollable-sheetmusic sheetmusic="sheetmusic"></scrollable-sheetmusic>
    </div>

  </div><!-- /.col-xs-12 main -->

  <!-- sidebar desktop-->
  <div ng-cloak class="panel panel-default col-sm-12 col-md-3 col-lg-2 hidden-xs" id="sidebar" role="navigation">

        <!-- sheetmusic information -->
        <ul class="list-group">
      <li class="list-group-item list-item-edit" ng-show="sheetmusic.submitted_by == ls.user.username">
        <button ng-cloak ng-click="sheetmusicEditForm.$show()" class="btn btn-default" ng-show="!sheetmusicEditForm.$visible">Edit</button>
        <form editable-form name="sheetmusicEditForm" ng-show="sheetmusicEditForm.$visible" onbeforesave="saveSheetmusic($data)">
          <span>
            <button type="submit" class="btn btn-primary" ng-disabled="sheetmusicEditForm.$waiting">
              Save
            </button>
            <button type="button" class="btn btn-default" ng-disabled="sheetmusicEditForm.$waiting" ng-click="sheetmusicEditForm.$cancel()">
              Cancel
            </button>
          </span>
        </form>
      </li>
          <li class="list-group-item"><b>Composed by:</b> <strong><a e-form="sheetmusicEditForm" buttons="no" e-name="composer_name" editable-text="sheetmusic.composer_name" ui-sref="app.composer({ composer : sheetmusic.composer_name })" e-required>{{ sheetmusic.composer_name }}</a></strong></li>
          <li class="list-group-item"><b>Submitted by:</b> <a ui-sref="app.profile.shelf({ username : sheetmusic.submitted_by })">{{ sheetmusic.submitted_by }}</a></li>
          <li class="list-group-item"><b>Category:</b> <span e-form="sheetmusicEditForm"  buttons="no" e-name="style" editable-text="sheetmusic.style">{{ sheetmusic.style || '-' }}</span></li>
          <li class="list-group-item"><b>Key:</b> <span e-form="sheetmusicEditForm"  buttons="no" e-name="key" editable-text="sheetmusic.key">{{ sheetmusic.key || '-'}}</span></li>
          <li class="list-group-item"><b>Date:</b> <span e-form="sheetmusicEditForm"  buttons="no" e-name="date" editable-text="sheetmusic.date">{{ sheetmusic.date || '-'}}</span></li>
          <li class="list-group-item"><b>File size:</b> {{ sheetmusic.file_size }}</li>
          <li class="list-group-item"><b>Downloads:</b> {{ sheetmusic.pop }}</li>
          <li class="list-group-item"><b>Licence:</b> <span e-form="sheetmusicEditForm"  buttons="no" e-name="license" editable-text="sheetmusic.license">{{ sheetmusic.license || '-' }}</span></li>
          
          <li class="list-group-item"><b>Difficulty:</b><br>
              <piano-rating ratingval="sheetmusic.difficulty" sheetmusicid="sheetmusic.id" labelonly="true"></piano-rating>
          </li>

          <li class="list-group-item">
          <a href="{{ sheetmusic.sheetmusic_pdf_url }}" ng-click="updateDownloads()" type="button" class="btn btn-success download" analytics-on><strong>Download PDF</strong></a></li>
          <li class="list-group-item">
            <piano-add-to-shelf-button sheetmusicid="sheetmusic.id" inshelf="sheetmusic.in_shelf" title="sheetmusic.title"></piano-add-to-shelf-button>
          </li>
        </ul>
  </div>

  <!-- sidebar mobile-->
  <div class="col-sm-12 col-md-3 col-lg-2 visible-xs-block" id="sidebar" role="navigation">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <div>
                    <h2>Information</h2>
                  </div>
            </div>
            <!-- sheetmusic information -->
            <ul class="list-group">
              <li class="list-group-item"><b>Composed by:</b> <strong><a ui-sref="app.composer({ composer : sheetmusic.composer_name })">{{ sheetmusic.composer_name }}</a></strong></li>
              <li class="list-group-item"><b>Submitted by:</b> <a ui-sref="app.profile.shelf({ username : sheetmusic.submitted_by })">{{ sheetmusic.submitted_by }}</a></li>
              <li class="list-group-item"><b>Category:</b> {{ sheetmusic.style }}</li>
              <li class="list-group-item"><b>Key:</b> {{ sheetmusic.key }}</li>
              <li class="list-group-item"><b>Date:</b> {{ sheetmusic.date }}</li>
              <li class="list-group-item"><b>File size:</b> {{ sheetmusic.file_size }}</li>
              <li class="list-group-item"><b>Downloads:</b> {{ sheetmusic.pop }}</li>
              <li class="list-group-item"><b>Licence:</b> {{ sheetmusic.license }}</li>
              <li class="list-group-item"><b>Difficulty:</b><br>
                  <piano-rating ratingval="sheetmusic.difficulty" sheetmusicid="sheetmusicid" labelonly="true"></piano-rating>
              </li>
              
              <li class="list-group-item">
              <a href="{{ sheetmusic.sheetmusic_pdf_url }}" ng-click="updateDownloads()" type="button" class="btn btn-success download" analytics-on><strong>Download PDF</strong></a></li>
              <li class="list-group-item">
                  <piano-add-to-shelf-button sheetmusicid="sheetmusic.id" inshelf="sheetmusic.in_shelf" title="sheetmusic.title"></piano-add-to-shelf-button>
              </li>
            </ul>
        </div>
  </div>

</div><!--/.row-->

<div class="row">
    <div class="col-lg-offset-2 col-md-9 col-lg-8">
        <div ng-show="sheetmusic.description" class="panel panel-default">
            <div class="panel-heading">
              <div>
                <h2>Description</h2>
              </div>
            </div>
            <li class="list-group-item">
                <p class="list-group-item-text">{{ sheetmusic.description }}</p>
                <span id="description-source">(Extract from <a href="{{ sheetmusic.des_link }}">Wikipedia</a>)</span>
            </li>
        </div>

        <div id="videos-view" class="panel panel-default">
            <div class="panel-heading">
                <h2>Video Recordings</h2>
                <a ng-click="openUploadVideoModal()" ng-show="ls.isLogged" href="">
                  <i id="video-upload" class="fa fa-upload pull-right"></i>
                </a>
            </div>
            <piano-video username="false" sheetmusic="sheetmusic"></piano-video>
        </div>

        <!-- Comments Section -->
        <div id="comments-view" class="panel panel-default">
            <div class="panel-heading">
              <div>
                <h2>Comments</h2>
                <div class="btn-group pull-right" dropdown is-open="status.isopenComment">
                  <button type="button" class="btn btn-secondary dropdown-toggle hidden-xs" ng-disabled="disabled">
                    Sort by: {{ sortText }} <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="sortComment('date', true, 'Most Recent')">Most Recent</a></li>
                    <li><a ng-click="sortComment('date', false, 'Oldest')">Oldest</a></li>
                    <li><a ng-click="sortComment('upvotes', true, 'Most Upvoted')">Most Upvoted</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="container-fluid" style="margin: 20px 10px 10px 10px;">
                <form ng-model="commentBody">
                    <textarea id="commentArea" ng-model="commentBody.text" rows="3"
                        style="resize:none; width:100%;" placeholder="Write a comment" 
                        ng-click="buttonComment = false"></textarea>
                    <br>
                    <button type="submit" class="btn btn-primary pull-right"
                        ng-click="submitComment($parent.comment.id, commentBody.text); commentBody.text='';">Post</button>
                    <br>
                </form>
            </div>
            <div class="container-fluid">
                <ul class="media-list">
                    <li class="media" ng-repeat="comment in comments.comment | orderBy: sortType: sortSequence" ng-include src="'components/partials/comments.html'"></li>
                </ul>
            </div>
        </div>
    </div>
</div>

</div>
