<div class="modal-header">
    <h3 class="modal-title">Submit Video</h3>
</div>

<div class="modal-body upload-sheetmusic-form">
    <p> Add a new video - it can be anything! Pop, classical, jazz </p>

    <form name="sheetmusicForm" class="form form-horizontal simple-form sheetmusic-form" novalidate>


      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">ID</label>  
        <div class="col-md-6">
          <span id="id_number" class="form-control input-md">
          {{id}}
        </span>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Title</label>  
        <div class="col-md-6">
          <input id="textinput" name="title" type="text" ng-model="sheetmusic.title" class="form-control input-md">
          <span class="help-block">Title of the piece</span>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group" ng-class="{ 'has-error': sheetmusicForm.url.$invalid && !sheetmusicForm.url.$pristine }">
        <label class="col-md-4 control-label" for="textinput">Url*</label>  
        <div class="col-md-6">
          <input id="textinput" name="url" type="text" ng-model="sheetmusic.url" ng-pattern="/^https?:\/\/(?:www\.)?youtube\.com\/watch\?(?=.*v=((\w|-){11}))(?:\S+)?$/" 
          class="form-control input-md" required>
          <span ng-hide="sheetmusicForm.url.$invalid && !sheetmusicForm.url.$pristine" class="help-block">Youtube URL of the video</span>
          <span ng-show="sheetmusicForm.url.$invalid && !sheetmusicForm.url.$pristine" class="help-block error-block">A valid Youtube url is required.</span>
        </div>
      </div>

      <!-- Dropdown -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Grade*</label>  
        <div class="col-md-6 btn-group" dropdown is-open="status.isopen">
          <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle toggleDropdown ng-disabled="disabled">
            {{ grade }} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="" ng-click= "grade = 'Professional'">Professional</a></li>
            <li><a href="" ng-click= "grade = 'Amateur'">Amateur</a></li>
          </ul>
        </div>
      </div>

    </form>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="(!grade || sheetmusicForm.$invalid) || fileSizeExceeded" ng-click="submit()">Submit</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

</form>
