<div class="modal-header">
    <h3 class="modal-title">Change Profile Picture</h3>
</div>

<div class="modal-body upload-profile-picture-form">

  <div class="form-group">
    <label class="col-md-5">

        <img ng-if="!imageSrc" class="media-object img-circle" src="{{ profilePicture }}" 
     alt="Generic placeholder image" width="150" height="150" >
         <img ng-if="imageSrc" class="media-object img-circle" ng-src="{{imageSrc}}" width="150" height="150">

    </label>
    <div class="col-md-7 form-element">
      <input name="filebutton" class="input-file" type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc" ng-model-as-image-url required/>
      <span ng-show="fileSizeExceeded" class="help-block error-block">File size must be under 10MB</span>
    </div>
  </div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="submit()">Submit</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
