<div class="modal-header">
    <h3 class="modal-title">Upload Piano Composition</h3>
</div>

<div class="modal-body upload-sheetmusic-form">
    <p> Add a new piece - it can be anything! Pop, classical, jazz </p>

    <form name="sheetmusicForm" class="form form-horizontal simple-form sheetmusic-form" novalidate>

      <!-- Text input-->
      <div class="form-group" ng-class="{ 'has-error': sheetmusicForm.title.$invalid && !sheetmusicForm.title.$pristine }">
        <label class="col-md-4 control-label" for="textinput">Title*</label>  
        <div class="col-md-6">
          <input id="textinput" name="title" type="text" ng-model="sheetmusic.title" class="form-control input-md" required>
          <span ng-hide="sheetmusicForm.title.$invalid && !sheetmusicForm.title.$pristine" class="help-block">Title of the piece</span>
          <span ng-show="sheetmusicForm.title.$invalid && !sheetmusicForm.title.$pristine" class="help-block error-block">A title is required.</span>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group" ng-class="{ 'has-error': sheetmusicForm.composer.$invalid && !sheetmusicForm.composer.$pristine }">
        <label class="col-md-4 control-label" for="textinput">Original artist / composer*</label>  
        <div class="col-md-6">
          <input id="textinput" name="composer" type="text" ng-model="sheetmusic.composer_name" class="form-control input-md" required>
          <span ng-hide="sheetmusicForm.composer.$invalid && !sheetmusicForm.composer.$pristine" class="help-block">Original composer's name</span>
          <span ng-show="sheetmusicForm.composer.$invalid && !sheetmusicForm.composer.$pristine" class="help-block error-block">A composer is required.</span>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Style</label>  
        <div class="col-md-6">
          <input id="textinput" name="style" type="text" ng-model="sheetmusic.style" class="form-control input-md">
          <span class="help-block">Style (Ballade, Pop)</span>  
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Date originated</label>  
        <div class="col-md-6">
          <input id="textinput" name="date" type="text" ng-model="sheetmusic.date" placeholder="2014" class="form-control input-md">
          <span class="help-block">What year was this piece first created?</span>  
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Description</label>  
        <div class="col-md-6">
          <textarea name="desc" ng-model="sheetmusic.desc"></textarea>
          <span class="help-block">Extra information about this piece</span>  
        </div>
      </div>

      <!-- SHEETMUSIC -->
      <div class="row">
          <div class="form-info col-md-9">
              <!-- File Button --> 
              <div class="form-group">
                <label class="col-md-5 control-label" for="filebutton">PDF file <small>(10 MB max)</small></label>
                <div class="col-md-7 form-element">
                  <input name="filebutton" class="input-file" type="file" ng-file-select="onFileSelect($files)" required accept="application/pdf" />
                  <span ng-show="fileSizeExceeded" class="help-block error-block">File size must be under 10MB</span>
                </div>
              </div>

              <!-- Checkbox -->
              <div class="form-group">
                <label class="col-md-5 control-label" for="checkboxes">Arrangement <i popover-placement="right" popover="Is the sheetmusic an arrangement of the original?" class="fa fa-lg fa-question-circle" ></i></label>
                <div class="col-md-6 form-element">
                  <div class="checkbox">
                      <label for="checkboxes-0">
                          <input type="checkbox" ng-model="sheetmusic.isArrangement" name="checkboxes" id="checkboxes-0" value="1">
                      </label>
                  </div>
                </div>
              </div>

              <!-- Text input-->
              <div ng-show="sheetmusic.isArrangement" class="form-group">
                <label class="col-md-5 control-label" for="textinput">Arranger name</label>  
                <div class="col-md-6 form-element">
                  <input ng-hide="sheetmusic.self_arranged" name="textinput" type="text" ng-model="sheetmusic.composer" placeholder="Arranger's name" class="form-control input-md">
                  <input type="checkbox" name="self_arranged" ng-model="sheetmusic.self_arranged"> I am the arranger
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-5 control-label" for="textinput">Key</label>  
                <div class="col-md-6 form-element">
                  <input name="textinput" type="text" ng-model="sheetmusic.key" placeholder="Key (e.g. C major)" class="form-control input-md">
                </div>
              </div>
          </div>
      </div>

    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="sheetmusicForm.$invalid || fileSizeExceeded" ng-click="upload()">Upload</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

</form>
