<div class="container section-container">
    <div class="list-group">
      <a ng-repeat="sheetmusic in results.free" ui-sref="app.sheetmusic({ sheetmusicId: sheetmusic.id, slug: sheetmusic.uniqueurl })" class="list-group-item">
        <h4 class="list-group-item-heading">{{ sheetmusic.title }}</h4>
        <p class="list-group-item-text"><b>{{ sheetmusic.style }}</b> by <b>{{ sheetmusic.composer_name }}</b></p>
      </a>
    </div>
</div>